*{
    margin: 0;
    padding: 0;
}

#main{
    width: 100%;
    background-color:#004C73;
}

#header{
    padding: 0 30px;
    font-size: 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-header-right li{
    position: relative;
}


.nav-header-right li:hover .subnav{
    display: block;
}

.nav-header-right .subnav li{
    color: black;
    padding:   0 12px;
    line-height: 38px;
}

.nav-header-right .subnav {
    display: none;/* biến mất chữ cấp 2 trong more */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: yellow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px; 
}
.nav-header-right{
    font-size: 19px;
}

.subnav{
    height: 140px;
}

#header .nav-header-left h1{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
}

.subnav>li:hover{
    display: block;
    background-color: #A9A9A9;
    color: blue;
}

.subnav>li>a{
    color: black;
}

.subnav  a{
    font-size: 18px;
    border-bottom: 1px dashed black;
}


.nav-header-ul>ul>li{
    color: black;
}

li{
    list-style-type: none;
}
#header .nav-header-ul>li{
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
}

.nav-header-ul>li>a:hover{
    color: red;
}

.nav-header-ul>li>a{
    color: white;
}

#header .nav-header-ul a{
    display: block;
    text-decoration: none;
}