*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    /* Phông chữ  */
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.text-center{
    text-align: center !important;
}

.col-full{
    width: 100%;
}

.col /* column (cột) */{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: calc(100% / 2); 
}

.col-third{
    width: calc(100% / 3); 
}

.clear{
    clear: both;
}
.text-white{
    color: white !important;

}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.btn{
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
}

.pull-right{
    float: right;
}
/* main */

#main{
    height: 1000px;
}

#header{
    z-index: 1;
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#nav, .subnav{
    list-style-type: none; /* xóa dấu chấm của thẻ ul*/
}

#nav > li{
    display: inline-block;
}

#nav{
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li:hover >a,
.btn:hover,
.modal-close:hover,
#buy-tickets:hover,
#nav .subnav li:hover{
    color: black;
    background-color: #ccc;
    
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none; /* để bỏ gạch chân của chữ*/
    padding: 0px 24px;
    line-height: 46px; /*đôi đen chọn đc cả khung */
    display: inline-block;
}

#nav .subnav {
    display: none; /* biến mất chữ cấp 2 trong more */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px; 
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav a{
    color: black;
    padding:   0 12px;
    line-height: 38px;  /*chiều cao dòng chữ khi bôi đen, nó sẽ tự căn giữa*/
}


#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* ảnh thích nghi với trình duyệt không bị vỡ ảnh*/
    background: url('https://www.w3schools.com/w3images/chicago.jpg') no-repeat top center / cover;
    
}

.text-content{
    color: white;
    bottom: 47px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#text-desrection{
    font-size: 12px;
}




#content .content-section{
    margin-left: 16px;
    margin-right: 16px;
    padding: 64px 0 112px;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.7;
}


#content .about-text{
    line-height: 1.4;
    text-align: justify;
    margin-top: 25px;
}

#content .member-list{
    overflow: hidden;
    margin-top: 48px;
}

#content .member-name{
    
    font-size: 15px;
}

#content .member-img{
    border-radius: 4px;
    margin-top: 15px;
    width: 154px;
}

#content .tour-section{
    background-color: black;
}

#content .tickets-list{
    list-style-type: none;
    background-color: white;
    margin-top: 40px;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: #ddd 4px solid;
}

.tickets-list .sold-out{
    background-color: #f44336;
    padding: 3px 4px;
    color: #fff;
    margin-left: 16px;
}

.tickets-list .quantity{
    margin-top: -3px;
    line-height: 24px;
    color: white;
    text-align: center;
    float: right;
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
}


/*Places */

.places-list{
    margin-top: 32px;
}

.places-list .place-img:hover{
    opacity: 0.6;
}

.place-img{
    width: 100%;
    display: block;
}

.place-body{
    line-height: 1.5;
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-weight: 550;
    
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    font-weight: 600;
    color: #000;
    margin-top: 15px;
}
.modal.open{
    display: flex;
}


    
.modal{
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.5); 
    display: none;
}

header.modal-header {
    align-items: center;
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-help{
    text-decoration: none;
}

.modal-container{
    animation: modalFaceIn ease 0.5s;
    max-width: calc(100% - 32px);
    position: relative;
    background-color: #fff;
    min-height: 300px;
    width: 900px
}

.modal-close{
    cursor: pointer;
    color: #fff;
    padding: 12px;
    top: 0;
    right: 0;
    position: absolute;
}

.heading-icon{
    margin-right: 16px;
}

.modal-body {
    padding: 17px;
}

.modal-label{
    display: block;
    font-size: 15px;   
    margin-top: 12px;
}

.modal-input{
    margin-top: 12px;
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    font-size: 15px;
}

#buy-tickets{
    border: none;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #009688;
    color: #fff;
    margin-top: 20px;
    height: 50px;
    font-size: 15px;
    width: 100%;
}

.modal-footer{
    text-align: right;
    padding: 16px;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFaceIn{
    from{
        transform: translateY(-300px);
    }
    to{
        transform: translateY(0);
    }
}

/* CONTACT */
.contact-content{
    margin-top: 50px;
}

.contact-form .form-control{
     padding: 10px;
     border: solid 1px #ccc;
     width: 100%;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    display: inline-block;
    width: 30px;
}

/* map-section */

.map-section img{
    background-color: #000;
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
    
}

#footer .social-list{
    font-size: 24px;
    margin-bottom: 30px;
    text-decoration: none; /* để bỏ gạch chân của chữ*/ 
}
#footer .social-list a{
    color: #757575;
    text-decoration: none;
}

.copy-right{
    color: #757575;
}

.copy-right  a{
    color: #757575;
}

