#main{
    text-align: center;
}

#navmain{
    width: 200px;
    text-align: left;
    margin: auto;
    font-size: 20px;
    width: 400px;
}

#navmain .word{
    text-decoration: underline;
    text-decoration-color: gray;
}

#navmain .bg_word{
    background-color: yellow;
    display: inline;
}

#main h1{
    color: aqua;
}

#navmain span{
    font-weight: bold;
}

#footer{
    font-size: 12px;
    margin-left: 220px;
}