.header{
    height: 120px;
    background: linear-gradient(0,#fe6433,#f53e2d);
}

.header .header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-list,.header__navbar-item-link{
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header_navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-item{
    display: inline-block;
    margin: 0 8px;
}

.header__navbar-item-bold{
    font-weight: 600;
}

.header__navbar-item-border{
    border-right: 2px blue solid;
    margin-left: 2px;
}